<div class="jumbotron jumbotron-fluid bg-transparent text-white">
    <div class="container">
        <h1 class="display-4">ACCS IT Support System</h1>
        <p class="lead">Realtime chat with users</p>
    </div>
</div>
