// $navbar-default-bg: #312312;
// $light-orange: #ff8c00;
// $navbar-default-color: $light-orange;

@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";
@import "sticky-footer";
@import "announcements";
@import "rails-chat-tutorial";

// Fixes bootstrap nav-brand container overlap
@include media-breakpoint-down(xs) {
  .container {
    margin-left: 0;
    margin-right: 0;
  }
}

// Masquerade alert shouldn't have a bottom margin
body {
  background-color: #C2C4C2;
}

body > .alert {
  margin-bottom: 0;
}

.chatContainer{
  width: min-content;
  position: absolute;
  right: 2em;
  bottom: 4em;
}

#chat-launcher{
  float: right
}
.text-blue{
  color: #0275d8;
}
.bg-blue{
  background-color: #0275d8;
}
.bg-pink{
  background-color: #ef368b
}
.popup-wrapper {
  height: 20rem;
  position: fixed;
  right: 15rem;
  bottom: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.popup-head {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
  cursor: pointer;
    p {
      margin: 0;
    }
 }
 .popup-trigger {
  height: 2rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: fixed;
  right: 15em;
  bottom: 3.8em;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
    p {
      margin: 0;
      font-weight: 900;
    }
  }
  .chat-bubble {
    border-radius: 3px;
  }